<style>
table, th, td {
  border: 1px solid black;
  margin-left: 200px;
}
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.newMember {
  margin-left: 200px;
}
</style>

<p id="notice"><%= notice %></p>

<head>
    <title> BLCFAST </title>
    <link rel="shortcut icon" type="image/x-icon" href="pic/iter.ico">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="translate.css">
    <link rel="stylesheet" id="style_sheet" type="text/css" href="style.css">
    <script src="translate.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="titlebar">
            <a>Business Leaders for Change</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="navBar">
            <div class="navBar-left">
                <ul>
                    <li><a href="<%= new_receipt_path %>" style="text-decoration: none;">Receipts</a></li>
                    <li><a href="<%= receipts_path %>" style="text-decoration: none;">Reimbursement</a></li>
                    <li><a href="<%= expense_types_index_path %>" style="text-decoration: none;">Expense Types</a></li>
                    <li><a class="active" href="<%= members_path %>" style="text-decoration: none;">Officers</a></li>
                </ul>
            </div>

            <div class="navBar-right">
                <ul>
                  <div class="signout-link">
                    <%= link_to "Sign Out", destroy_admin_session_path %>
                  </div>
                </ul>
            </div>
        </div>
    </div>

</body>

<h1>Members</h1>

<div class="newMember">
  <%= button_to 'New Member', new_member_path, method: :get %>
</div>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.role %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<body>
      <center>
        <div class="logo">
          <%= image_tag("Untitled_Artwork.png", height: '420', width: '420', :alt => "BLC logo") %>
        </div>
      </center>
</body>